<!--HEADER-->
<div class="header">
  <img [src]="logo">
  <h1 class="mat-display-1">IF Med Transport</h1><mat-icon></mat-icon>
</div>

<!--ROUTES-->

<div class="navigation">
  <button mat-button color="primary" [routerLink]="['../pass-board']">Сторінка Пасажира</button>
  <button mat-button color="primary" [routerLink]="['../driver-board']">Сторінка Водія</button>
</div>

<!--ABOUT-->
<div class="service-container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Про Сервіс</mat-panel-title>
      </mat-expansion-panel-header>
      <h3>Допомога у Транспортуванні Медичних Працівників</h3>
      <p class="service-desc">
        Цей сервіс створено для координації медичних працівників, що стикнулися з проблемою добирання до робочих місць
        та домівок і небайдужих водіїв котрі готові допомогти в ситуації що склалася
      </p>
      <p>
        На цьому стайті ви можете добавити поїздку (<i>для водіїв</i>) або подати заявку на поїздку (<i>для мед працівників</i>)
      </p>
      <p><b><i>
        Для того щоб залишити заявку або добавити поїздку на сайті необхідно авторизуватися
      </i></b></p>
    </mat-expansion-panel>
  </mat-accordion>

  <!--HOW TO USE-->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Як користуватися?</mat-expansion-panel-header>
      <div>
        <h3>Авторизація</h3>
        <p>
          У правому верхньому куті екрану натиснувши на кнопку <b><i>Авторизація</i></b> ви можете обрати
          <b><i>Зареєструватися</i></b>, для реєстрації на сайті або <b><i>Увійти</i></b> якщо ви вже зареєстровані.
        </p>
        <p>
          Після Авторизації в тому ж верхньому правому куті ви можете перейти на сторінку <b><i>Мій Профіль</i></b> або
          <b><i>Вийти</i></b>
        </p>
      </div>
      <div>
        <h3>Сторінка Пасажира</h3>
        <p>
          Неавторизований користувач може лише переглядати список доступних на сервісі поїздок та здійснювати їх 
          пошук за місцем відправлення (район - мікрорайон) та місцем призначення (район - мікрорайон). Для резерування місць
          користувач повинен бути авторизованим на сервісі.
        </p>
        <p>Після авторизації користувачу надається можливість резервування місць у вибраній поїздці.
          Для цього слід натиснути кнопку <b><i>Зарезервувати</i></b> у рядку вибраної поїздки. 
          У вікні, що з'явиться, вкажіть необхідну кількість місць та 
          можна залишити коментар (або запитання) для водію.
        </p>
        <p>
          Зарезервовані поїдки знаходяться у розділі <b><i>Мої поїздки</i></b> зверху сторінки.
        Навпроти кожного резервування виводиться його статус.
        <p>
          Користувач може відмовитися від резервування місць натиснувши кнопку <b><i>Відмовитися</i></b>.
        </p>
        <p>
          Натиснувши кнопку <b><i>Детально</i></b> можна отримати дотакову інформацію про поїздку .
        </p>
      </div>
      <div>
        <h3>Сторінка Водія</h3>
        <p>
          Контент на сторінці водія доступний лише авторизованим користувачам. 
        </p>
        <p>
          Щоб <b><i>Створити Поїздку</i></b> натисніть на відповідну кнопку вгорі зліва та заповніть форму.
        </p>
        <p>Авторизований користувач може переглядати створені поїздки та керувати ними. Створена поїздка 
          отримує статус "Активна". Користувач може відмінити поїздку, натиснувши <b><i>Скасувати</i></b> 
          у рядку поїздки, або завершити її натиснувши <b><i>Завершити</i></b>. 
        </p>
        <p>
          Якщо користувач скасовує поїздку то відповідно скасовуються всі резерування місць на цю поїздку
          від інших користувасів сервісу.
        </p>
        <p>
          Під кожною поїдкою відображаються заявки на резервування місць. Користувач може прийняти заяку натиснувши
          <b><i>Підтвердити</i></b>, а також залишити для пасажира додатковий коментар, відхилити заявку - <b><i>Відхилити</i></b>, або скасувати 
          її - <b><i>Скасувати</i></b>.
        </p>
        <p>
          Натиснувши кнопку <b><i>Детально</i></b> можна отримати дотакову інформацію про поїздку або про заявку на 
          резервування місць.
        </p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<!--Чат для координації добровольців, які готові допомогти у ситуації, що склалась.

Зараз гостро стоїть питання про транспорт для медиків яким люди зможуть доїхати до роботи.

Медики зараз працюють в надважких умовах.-->
