<div *ngIf="!isLogged" class="container">
  <h1>Контент на даній сторінці доступний лише авторизованим користувачам</h1>
</div>
<div *ngIf="isLogged" class="container">
  <div class="btn-add">
    <button 
    mat-raised-button
    color="primary"
     [routerLink]="['../add-trip']">Додати Поїздку</button>
  </div>
  <h1>Мої поїздки</h1>
  <div class="filter-box">
    <button mat-stroked-button
      color="primary" 
      (click)="filteringDriverTrips(['Active'])">
      Активні
    </button>
    <button
      mat-stroked-button
      color="primary"
    (click)="filteringDriverTrips(['Copmplete'])">Завершені</button>
    <button 
      mat-stroked-button
      color="primary"
      (click)="filteringDriverTrips(['Canceled'])">Скасовані</button>
    <button 
      mat-stroked-button
      color="primary"
      (click)="filteringDriverTrips(stateTrip)">Всі</button>
  </div>
  <div class="list listbox" *ngFor="let driverTrip of filterDriverTrips">
    <div class="list__state">{{ driverTrip.state | tripState }}</div>
    <div class="list__info">
      {{ driverTrip.departure_time | date: "dd.MM - hh:mm" }} -
      {{ driverTrip.from_location_1.name }}
      <span *ngIf="driverTrip.from_location_2"
        >({{ driverTrip.from_location_2.name }})</span
      >
      - {{ driverTrip.to_location_1.name }}
      <span *ngIf="driverTrip.to_location_2"
        >({{ driverTrip.to_location_2.name }})
      </span>
    </div>
    <div class="list__detailTrip">
      <span *ngIf="driverTrip.driver_comments.length > 0">
        <em>{{ driverTrip.driver_comments }} </em>
      </span>
      <span *ngIf="driverTrip.from_text_description.length > 0">
        , можу забрати: <em>{{ driverTrip.from_text_description }}</em>
      </span>
      <span *ngIf="driverTrip.to_text_description.length > 0">
       , можу довезти: <em>{{ driverTrip.to_text_description }} </em>
      </span>
    </div>
    <div class="list__button">
      <button
        mat-stroked-button
        color="basic"
        (click)="changeViewDetailTrip($event)"
      >
        Детально
      </button>
      <button
        mat-stroked-button
        color="warn"
        (click)="cancelTrip(driverTrip.id)"
        [ngClass]="{ hidden: driverTrip.state == 'Canceled' || driverTrip.state == 'Complete' }"
      >
        Скасувати
      </button>
      <button
        mat-stroked-button
        color="accent"
        (click)="completeTrip(driverTrip.id)"
        [ngClass]="{ hidden: driverTrip.state == 'Canceled' || driverTrip.state == 'Complete' }"
      >
        Завершити
      </button>
    </div>
    <div *ngIf="driverTrip.reservations.length" class="list__reservation">
      <div class="list__title">Заявки</div>
      <div class="sublist listbox" *ngFor="let userTrip of driverTrip.reservations">
        <div class="list__state">{{ userTrip.state | reservationState }}</div>
        <div class="list__info">
          {{ userTrip.passenger.name }},
          {{ userTrip.passenger.phone_number}},
          Зарезервовано місць: {{ userTrip.places_number }}
          <div class="list__info-comments" *ngIf="userTrip.passenger_comments.length > 0">
            {{ userTrip.passenger.name }}:  <em>{{userTrip.passenger_comments}}</em> 
          </div>
        </div>
        <div class="list__detailTrip">
          <em>Професія: {{ userTrip.passenger.description }}, </em>
          на сервісі з: <em> {{ userTrip.passenger.date_joined | date: "dd.MM.yy" }} </em>
        </div>
        <div class="list__button">
          <button
            mat-stroked-button
            color="basic"
            (click)="changeViewDetailTrip($event)"
          >
            Детально
          </button>
          <button
          mat-stroked-button
          color="warn"
          (click)="openConfirmDialog(userTrip.id, 'Відхилити', 'Відхилити', false)"
          [ngClass]="{ hidden: userTrip.state == 'Rejected' || userTrip.state == 'Accepted' || userTrip.state == 'Canceled By Driver' }"
        >
          Відхилити
        </button>
          <button
            mat-stroked-button
            color="accent"
            (click)="openConfirmDialog(userTrip.id, 'Підтвердити', 'Підтвердити', true)"
            [ngClass]="{ hidden: userTrip.state == 'Rejected' || userTrip.state == 'Accepted' || userTrip.state == 'Canceled By Driver' }"
          >
            Підтвердити
          </button>
          <button
          mat-stroked-button
          color="warn"
          (click)="cancelTripByDriver(userTrip.id)"
          [ngClass]="{ hidden: userTrip.state == 'Canceled By Driver' }"
        >
          Скасувати
        </button>
        </div>
      </div>
    </div>
  </div>
</div>
