<button [routerLink]="['../add-trip']">Додати Поїздку</button>
<div class="container">
  <h1>Мої поїздки</h1>
  <div class="list" *ngFor="let driverTrip of driverTrips">
    <div class="list__state">{{ driverTrip.state | tripState }}</div>
    <div class="list__info">
      {{ driverTrip.departure_time | date: "dd.MM - hh:mm" }} -
      {{ driverTrip.from_location_1.name }}
      <span *ngIf="driverTrip.from_location_2"
        >({{ driverTrip.from_location_2.name }})</span
      >
      - {{ driverTrip.to_location_1.name }}
      <span *ngIf="driverTrip.to_location_2"
        >({{ driverTrip.to_location_2.name }})
      </span>
    </div>
    <div class="list__detailTrip">
      {{ driverTrip.driver_comments }},
      можу забрати: {{ driverTrip.from_text_description }},
      можу довезти: {{ driverTrip.to_text_description }}
    </div>
    <div class="list__button">
      <button
        mat-stroked-button
        color="prime"
        (click)="changeViewDetailTrip($event)"
      >
        Детально
      </button>
      <button
        mat-stroked-button
        color="prime"
        (click)="cancelTrip(driverTrip.id)"
        [ngClass]="{ hidden: driverTrip.state == 'Canceled' || driverTrip.state == 'Complete' }"
      >
        Скасувати
      </button>
      <button
        mat-stroked-button
        color="prime"
        (click)="completeTrip(driverTrip.id)"
        [ngClass]="{ hidden: driverTrip.state == 'Canceled' || driverTrip.state == 'Complete' }"
      >
        Завершити
      </button>
    </div>
    <div *ngIf="driverTrip.reservations.length" class="list__reservation">
      <div class="list__title">Заявки</div>
      <div class="list sublist" *ngFor="let userTrip of driverTrip.reservations">
        <div class="list__state">{{ userTrip.state | reservationState }}</div>
        <div class="list__info">
          {{ userTrip.passenger.name }},
          {{ userTrip.passenger.phone_number}},
          Зарезервовано місць: {{ userTrip.places_number }}
        </div>
        <div class="list__detailTrip">
          {{ userTrip.passenger.description }},
          дата реєстрації: {{ userTrip.passenger.date_joined | date: "dd.MM.yy" }},
          {{ userTrip.passenger_comments }}
        </div>
        <div class="list__button">
          <button
            mat-stroked-button
            color="prime"
            (click)="changeViewDetailTrip($event)"
          >
            Детально
          </button>
          <button
          mat-stroked-button
          color="prime"
          (click)="openConfirmDialog(userTrip.id, 'Відхилити', 'Відхилити', false)"
          [ngClass]="{ hidden: userTrip.state == 'Rejected' || userTrip.state == 'Accepted' || userTrip.state == 'Canceled By Driver' }"
        >
          Відхилити
        </button>
          <button
            mat-stroked-button
            color="prime"
            (click)="openConfirmDialog(userTrip.id, 'Підтвердити', 'Підтвердити', true)"
            [ngClass]="{ hidden: userTrip.state == 'Rejected' || userTrip.state == 'Accepted' || userTrip.state == 'Canceled By Driver' }"
          >
            Підтвердити
          </button>
          <button
          mat-stroked-button
          color="prime"
          (click)="cancelTripByDriver(userTrip.id)"
          [ngClass]="{ hidden: userTrip.state == 'Canceled By Driver' }"
        >
          Скасувати
        </button>
        </div>
      </div>
    </div>
  </div>
</div>
