.container {
    margin: 0 1em;
    position: relative;
}
.btn-add {
    position: absolute;
    right: 0.5em;
    top: 0;
}
h1 {
    font-size: 1.1em;
    padding-left: 1em;
    margin-top: 0.6em;
    margin-bottom: 25px;

}
.filter-box {
    margin-bottom: 1em;
}
.list{
    position: relative;
    display: flex;
    padding: 0.2em;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 35px;
    margin-bottom: 1em;
}
/* .list:nth-of-type(2n+1) {
    background-color: #ececec;
} */
.list__state {
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 1em;
}
.list__info {
    justify-self: start;
    flex: 1 1 auto;
}
.list__detailTrip {
    display: none;
    margin: 0 0.1em;
}
.list__comments {
    font-size: 0.9em;
}
.list__button {
    margin: 0.2em 0;
}
.list__button > button, .filter-box > button {
    margin-left: 0.5em;
    border-radius: 4px;
}
.hidden {
    display: none;
}
.list__reservation {
    position: relative;
    border-top: 2px solid #e6e6e6;
    margin-top: 15px;
    padding: 0.2em;
    padding-top: 15px;
    width: 100%;
}
.sublist {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0.5em 0.1em;
    padding-left: 2em;
    min-height: 25px;

}
.list__title {
    position: relative;
    width: 150px;
    text-align: center;
    top: -26px;
    margin: 0 auto;
    background-color: #f1f3f4;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    cursor: pointer;
}
.list__info-comments {
    font-size: 0.8em;
}
.visable {
    display: block;
}
.invisable {
    display: none;
}
@media all and (max-width: 450px) {
    .container {
        margin: 0 0.1em;
    }
    .filter-box {
        margin-bottom: 1em;
    }
    ::ng-deep .mat-form-field-infix {
        min-width: 150px !important;
        width: auto !important;
    }
    .list__detailTrip {
        font-size: 0.85em;
    }
    .filter-box ::ng-deep .mat-stroked-button {
        padding: 0 10px !important;
        min-width: 75px;
        font-size: 12px;
    }
    .list {
        font-size: 0.9em;
        margin: 0.2em;
    }
    .list__state {
        font-size: 0.8em;
    }
    .search-box {
        padding: 0px;
    }
    .list__button ::ng-deep .mat-stroked-button {
        padding: 1px 3px !important;
        font-size: 12px;
    }
    .sublist {
        padding: 0.3em;
    }
}

@media all and (max-width: 330px) { 
    .filter-box ::ng-deep .mat-stroked-button {
        padding: 0 8px !important;
        min-width: 65px;
    }
    .list__button ::ng-deep .mat-stroked-button {
        padding: 0 2px !important;
        margin: 0 0 0 4px !important;
        font-size: 12px;
    }
    .list__button {
        padding-left: 0;
    }
}