.container {
    margin: 0 1em;
    position: relative;
}
.btn-add {
    position: absolute;
    right: 0.5em;
    top: 0;
}
h1 {
    font-size: 1.1em;
    margin-top: 0.6em;
    margin-bottom: 25px;

}
.filter-box {
    margin-bottom: 1em;
}
.list{
    position: relative;
    display: flex;
    padding: 0.2em;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 35px;
}
.list:nth-of-type(2n+1) {
    background-color: #ececec;
}
.list__state {
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 1em;
}
.list__info {
    justify-self: start;
    flex: 1 1 auto;
}
.list__detailTrip {
    display: none;
    flex-shrink: 1;
    margin: 0.5em 3em;
}
.list__comments {
    flex-shrink: 1;
    font-size: 0.9em;
}
.list__button {
    margin: 0.2em 0;
}
.list__button > button, .filter-box > button {
    margin-left: 0.5em;
    border-radius: 4px;
}
.visable {
    display: block;
}
.hidden {
    display: none;
}
.list__reservation {
    position: relative;
    border-top: 1px solid #000;
    margin-top: 15px;
    padding: 0.2em;
    padding-top: 15px;
    width: 100%;
}
.sublist {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    padding: 0.5em 0.1em;
    min-height: 25px;

}
.list__title {
    position: absolute;
    width: 150px;
    text-align: center;
    top: -10px;
    left: 140px;
    background-color: #ececec;
    border: 1px solid #000;
    border-radius: 6px;;
}
.list__info-comments {
    font-size: 0.8em;
}

@media all and (max-width: 450px) {
    ::ng-deep .mat-form-field-infix {
        min-width: 150px !important;
        width: auto !important;
    }
    .filter-box {
        justify-content: space-between;
    }
    .filter-box ::ng-deep .mat-stroked-button {
        padding: 0 10px !important;
        min-width: 38px;
        font-size: 12px;
    }
    .list__state {
        font-size: 0.8em;
    }
    .search-box {
        padding: 0px;
    }
    .list__button ::ng-deep .mat-stroked-button {
        padding: 0 1px !important;
    }
    .list__title {
        left: 90px;
    }
}