.container {
    margin: 0 1em;
}
h1 {
    font-size: 1.1em;
    margin: 1em;
}
.filter-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 1em;
}
#all {
    flex: 0 1 auto;
}
.list {
    position: relative;
    display: flex;
    padding: 0.2em;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 35px;
    margin-bottom: 0.8em;
}
/* .list:nth-of-type(2n+1) {
    background-color: #ececec;
} */
.list__state {
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 1em;
}
.list__info {
    justify-self: start;
    flex: 1 1 auto;
}
.list__detailTrip {
    display: none;
    margin: 0.5em 3em;
}
.list__comments {
    font-size: 0.9em;
}
.list__button {
    justify-self: flex-end;
    margin: 0.2em 0;
}
.list__button > button, .filter-box > button, .search-box button{
    margin-left: 0.5em;
    border-radius: 4px;
}
.visable {
    display: block;
}
.hidden {
    display: none;
}
.list__info-comments {
    font-size: 0.8em;
}
.form {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1em;
}
.mat-form-field {
    padding: 0 0.5em;
    min-width: 150px;
}

@media all and (max-width: 450px) {
    ::ng-deep .mat-form-field-infix {
        min-width: 150px !important;
        width: auto !important;
    }
    .container {
        margin: 0 0.1em;
    }
    .filter-box ::ng-deep .mat-stroked-button {
        padding: 0 8px !important;
        min-width: 38px;
        font-size: 12px;
    }
    .list {
        font-size: 0.9em;
    }
    .list__state {
        font-size: 0.8em;
    }
    .list__detailTrip {
        font-size: 0.85em;
    }
    .search-box {
        padding: 0px;
    }
    .list__button ::ng-deep .mat-stroked-button {
        padding: 1px 3px !important;
        font-size: 12px;
    }
    ::ng-deep .mat-select-value {
        font-size: 14px !important;
    }
}
@media all and (max-width: 330px) { 
    .mat-form-field {
        padding: 0 0.1em;
    }
    .filter-box ::ng-deep .mat-stroked-button {
        padding: 0 4px !important;
        min-width: 38px;
    }
    .list__button ::ng-deep .mat-stroked-button {
        padding: 0 2px !important;
        font-size: 12px;
    }
    .list__button {
        padding-left: 0;
    }
}
