<div class="container">
  <header>
    <h3>Реєстрація</h3>
  </header>

  <form class="sign-up-form" [formGroup]="userData" (ngSubmit)="registerUser()">
    <div class="full-name">
      <mat-form-field>
        <input matInput placeholder="Ім'я" type="text" formControlName="first_name" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Прізвище" type="text" formControlName="last_name">
      </mat-form-field>
    </div>
    <div class="description">
      <mat-form-field>
        <mat-label>Інформація про себе:</mat-label>
        <textarea matInput matTextareaAutosize
                  placeholder="Інформація про себе: Місце роботи, посада, навчання..."
                  formControlName="description"></textarea>
      </mat-form-field>
    </div>
    <div class="contacts">
      <mat-form-field id="phone">
        <mat-label>Мобільний номер</mat-label>
        <span matPrefix>+380 &nbsp;</span>
        <input matInput placeholder="667281545" type="tel" formControlName="phone_number">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" type="email" formControlName="email">
      </mat-form-field>
    </div>
    <div class="password">
      <mat-form-field>
        <input matInput placeholder="Пароль" [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Підтвердіть пароль" [type]="hide ? 'password' : 'text'"
               formControlName="confirm_password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="buttons">
      <button mat-stroked-button color="primary" type="submit" [disabled]="!userData.valid">Зареєструватися та Увійти
      </button>
      <button mat-stroked-button color="primary" type="button" id="cancel">Відміна</button>
    </div>
  </form>
</div>
