.container {
  margin: 0 15% 10% 15%;
}
header {
  text-align: center;
}
.sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#cancel {
  margin-top: 5%;
}

@media screen and (min-width: 600px) {
  .full-name,
  .contacts,
  .password {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .buttons>button {
   width: 30%;
 }
  #cancel {
    margin-top: 0;
  }
  .description {
    display: flex;
    justify-content: space-around;
    .mat-form-field {
      width: 90%;
    }
  }
  .mat-form-field {
    width: 40%;
  }

}
